In [ ]:
'''
1.List is a data structyre in python 
2.list is mutable and it allows dupicate values
3.Append() method is used to append the values to existing list
4.using append method we can ad single element or multiple elment
5.list foloows indexing order

'''

In [1]:
a=[1,2,3,4,5,6,8]
a

[1, 2, 3, 4, 5, 6, 8]

In [4]:
a.insert(6,7)

print(a)

[1, 2, 3, 4, 5, 6, 7, 7, 7, 8]

In [5]:
a.insert(6,7)

print(a)

[1, 2, 3, 4, 5, 6, 7, 7, 7, 7, 8]

In [8]:
a.pop(7)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8]

In [12]:
b=[1,2,3,4]
a.insert(2,b)
print(a)

[1, 2, [1, 2, 3, 4], 3, 4, 5, 6, 7, 8]

In [15]:
a=[3,4,5]
b=[7,8,9]
a.extend(b)
print(a)

[3, 4, 5, 7, 8, 9]

In [16]:
'''
append(): it is used to add element in a end of the list 
#          it provides single index position for multiple values also
# insert (): it is used to insert an element in a specific index
# extend(): it is used to add list of elements to exisiting list 
# it provides seperate index position for each value
'''

In [22]:
list=[1,2,3,4]
#print(list)
list.pop()
print(list)

[1, 2, 3]

In [23]:
'''
pop() - remove last elemnt 
pop(index) -remove index elemnt
remove()- remove the value(only first occurnce)
sort()=sort all elemnts 
'''

'\npop - remove last elemnt \n\n'

In [29]:
l=[1,4,3,3,4,5]
l.remove(3)
print(l)
l.sort()
print(l)

l.sort(reverse=True)
print(l)

l1=l.copy()
print(l1)

l1.append(100)
print(l1)
print(l)

[1, 4, 3, 4, 5]
[1, 3, 4, 4, 5]
[5, 4, 4, 3, 1]
[5, 4, 4, 3, 1]
[5, 4, 4, 3, 1, 100]
[5, 4, 4, 3, 1]

In [30]:
'''
index(value)-tells in which index the value is 
count(value)-tells how many times the value is present in the list
'''

'\nindex(value)-tells in which index the value is \ncount(value)-tells how many times the value is present in the list\n'

In [31]:
list=[12,3,4,5,6]
print(list.index(4))
print(list.count(6))

2
1

In [32]:
'''
append()
extend()
insert()
remove()
pop()
clear()
index()
count()
sort()
reverse()
copy()


'''

'\nappend()\nextend()\ninsert()\nremove()\npop()\nclear()\nindex()\ncount()\nsort()\nreverse()\ncopy()\n\n\n'

In [33]:
a=[23,78,45,67,89]
for i in a:
    if i%2==0:
        print(i,end="")

78

In [1]:
# Write a program to print prime numbers in a given list
numbers = [10, 3, 5, 12, 7, 9, 11, 15, 17, 19]
print("Prime numbers in the list are:")
for num in numbers:
    if num > 1:  
        is_prime = True
        for i in range(2, int(num ** 0.5) + 1):
            if num % i == 0:
                is_prime = False
                break
        if is_prime:
            print(num)

Prime numbers in the list are:
3
5
7
11
17
19

In [3]:
# write a program to print second max element in a given list
nums = [10, 25, 4, 98, 45, 98]
unique_nums = list(set(nums))
unique_nums.sort(reverse=True)
if len(unique_nums) >= 2:
    print("Second maximum element:", unique_nums[1])
else:
    print("No second maximum element found.")

Second maximum element: 45

In [5]:
list=[4,25,78,95,45]
for i in list:
    if i%2==0:
        print(i, end="")

478

In [9]:
list=[14,56,67,78,32,92]
fact=0
for i in list:
    #i=34
    for j in range(1, i+1):
        print(j, end="")

123456789101112131412345678910111213141516171819202122232425262728293031323334353637383940414243444546474849505152535455561234567891011121314151617181920212223242526272829303132333435363738394041424344454647484950515253545556575859606162636465666712345678910111213141516171819202122232425262728293031323334353637383940414243444546474849505152535455565758596061626364656667686970717273747576777812345678910111213141516171819202122232425262728293031321234567891011121314151617181920212223242526272829303132333435363738394041424344454647484950515253545556575859606162636465666768697071727374757677787980818283848586878889909192

In [11]:
list=[14,56,67,78,32,92]
fact=0
for i in list:
    #i=34
    for j in range(1, i+1):
        if i%j==0:
            print(j, end="")

127141247814285616712361326397812481632124234692

In [12]:
list=[34,56,67,78,32,90,11,13,17]
fact=0
for i in list:
    fact=0
    for j in range(1, (i+1)):
        if i%j==0:
            fact=fact+1
    if fact==2:
        print(i, end=" ")

67 11 13 17

In [13]:
list=[34,56,67,78,32,90,11,13,17]
list.sort(reverse=True)
print(list[1])

78

In [ ]:
# write  a program to find number of words in a given string
# input=Hi hello this is Nagul
# output=5

In [15]:

text = "Hi hello this is Nagul"
words = text.split()
count = len(words)
print(count)

5

In [14]:
# Write a program to find number of characters in each word in a given setnece
# input : Hi hello this is Nagul
#output:
#   Hi  -- 2
#   hello  - 5
#   this  -- 4
#   is    - 2
#   Nagul  - 5
 
str="Hi hello this is Nagul"
words=str.split(" ")
for word in words:
    print(word," -- ", len(word))

Hi  --  2
hello  --  5
this  --  4
is  --  2
Nagul  --  5

In [ ]:
"""write a logic to find
no.of alphabets
no.of digits
no.of special characters
in each word of a given sentence
input: Hi12 Hello$ This@ is Nagu17
output:
Hi12:alphabets:2
    digits:2
    special chars:0
Hello$:alphabets:5
    digits:0
    special chars:1
This@:alphabets:4
    digits:0
    special chars:1
is:alphabets:2
    digits:0
    special chars:0
Nagu17:alphabets:4
    digits:2
    special chars:0"""

In [16]:

sentence = "Hi12 Hello$ This@ is Nagu17"
words = sentence.split()
for word in words:
    alphabets = digits = special = 0
    for ch in word:
        if ch.isalpha():
            alphabets += 1
        elif ch.isdigit():
            digits += 1
        else:
            special += 1
    print(f"{word}:")
    print(f"  alphabets:{alphabets}")
    print(f"  digits:{digits}")
    print(f"  special chars:{special}")

Hi12:
  alphabets:2
  digits:2
  special chars:0
Hello$:
  alphabets:5
  digits:0
  special chars:1
This@:
  alphabets:4
  digits:0
  special chars:1
is:
  alphabets:2
  digits:0
  special chars:0
Nagu17:
  alphabets:4
  digits:2
  special chars:0

In [ ]:
# Tuple allows duplicate values
# it follows the indexing order
# it is immutable

In [18]:
a=[12,45,86,95,53]
print(a)
print(a[1])
print("Max:",max(a))
print("Min:",min(a))
print("Total:",sum(a))
print("No.of values:",len(a))
a[1]
a[:]
a[2:]
a[:5]
a[-1]
a[::]
a[::-1]

[12, 45, 86, 95, 53]
45
Max: 95
Min: 12
Total: 291
No.of values: 5

[53, 95, 86, 45, 12]

# Differences Between List and Tuple in Python

1. *Mutability*
   - *List* is mutable: you can change its elements.
     python
     my_list = [23, 66, 77]
     my_list[1] = 99  # [23, 99, 77]
     
   - *Tuple* is immutable: you cannot change its elements.
     python
     my_tuple = (23, 66, 77)
     my_tuple[1] = 99  # Throws an error
     

2. *Duplicates and Indexing*
   - Both *List* and *Tuple* allow duplicate values and maintain the order of elements.

3. *Type Casting*
   - Converting a tuple to a list:
     python
     t = (23, 12, 33, 44)
     lst = list(t)  # [23, 12, 33, 44]
     
   - Converting a list to a tuple:
     python
     l = [11, 99, 33, 53, 66]
     t = tuple(l)  # (11, 99, 33, 53, 66)
     
It is unordered data structure till python 3.6 version , from 3.7 it is ordered and mutable

In [19]:
dict={12: 'Ram', 34: 'Pavan', 56: 'Suhel'}
print(dict.get(12))
dict[12]='Venkatesh'
print(dict)
print(dict.keys()) #Display all the keys of Dict
print(dict.values()) # Display all the values of Dict
print(dict.items())#Display all the keys & values of Dict

Ram
{12: 'Venkatesh', 34: 'Pavan', 56: 'Suhel'}
dict_keys([12, 34, 56])
dict_values(['Venkatesh', 'Pavan', 'Suhel'])
dict_items([(12, 'Venkatesh'), (34, 'Pavan'), (56, 'Suhel')])