In [1]:
x=int(input())
area=22/7*(x**2)
print(area)

 5

78.57142857142857

In [6]:
x=input()
count=0
for chr in x:
    if chr in "AEIOUaeiou":
        count+=1
print(count)

 Hyderabad

3

In [14]:
x=input()
vowels="AEIOUaieou"
c=0
for i in x:
    if i not in vowels:
        c+=1
print(count)

 India

3

In [17]:
n = [30, 42, 56, 70, 45, 35]
a= []
for i in n:
    if i % 5 == 0:
        a.append(i / 5)
    else:
        a.append(i)
print(a)

[6.0, 42, 56, 14.0, 9.0, 7.0]

In [18]:
n = [23, 24, 45, 67, 99, 54, 20]
e = []  
o = []  
for i in range(len(n)):
    if i % 2 == 0:
        e.append(n[i])
    else:
        o.append(n[i])

print(e)
print(o)

[23, 45, 99, 20]
[24, 67, 54]

In [22]:
n=[20,35,45,30,60,75,85,45,25,40]
q=0
p=0
for i in n:
    if i%2==0:
        q+=i
    else:
        p+=i
print(q)
print(p)

150
310

In [23]:
n=[20,35,45,30,60,75,85,45,25,40]
o=0
e=0
for i in range(len(n)):
    if n[i] % 2 == 0:
        e+=i
    else:
        o+=i
print(e)
print(o)

16
29

In [24]:
n = ['Mumbai', 'Hyd', 'delhi', 'Dubai', 'Jaipur', 'Kolkata', 'Chennai', 'Dadar', 'Danish', 'japan', 'madhya', 'hero', 'daridam']
d = []
for chr in n:
    if chr.startswith('D') or chr.startswith('d'):
        d.append(chr)
print(d)

['delhi', 'Dubai', 'Dadar', 'Danish', 'daridam']

In [29]:
n = ['Mumbai', 'Hyd', 'delhi', 'Dubai', 'Jaipur', 'Kolkata', 'Chennai', 'Dadar']
i = [50, 40, 30, 20, 100, 350, 280, 200]
d = {}
for a in range(len(i)):
    d[n[a]] = i[a]
print(d)

{'Mumbai': 50, 'Hyd': 40, 'delhi': 30, 'Dubai': 20, 'Jaipur': 100, 'Kolkata': 350, 'Chennai': 280, 'Dadar': 200}

In [2]:
d = {
    'Mumbai': 50,'Hyd': 40,'delhi': 30,'Dubai': 20,'Jaipur': 100,'Kolkata': 350,'Chennai': 280,'Dadar': 200
}

for c, v in d.items():
    if v < 100:
        print(c)

Mumbai
Hyd
delhi
Dubai

In [3]:
def area(r):
    pi = 22 / 7
    return pi * (r ** 2)
x = int(input())
a = area(x)
print(a)

 5

78.57142857142857

In [4]:
def count(n):
    count = 0
    for chr in n:
        if chr in "aeiouAEIOU":
            count += 1
    return count
n = input()
print(count(n))

 Hyderabad

3

In [9]:
def count(text):
    vowels = "aeiouAEIOU"
    v = 0
    c = 0
    for char in text:
        if char.isalpha():
            if char in vowels:
                v+= 1
            else:
                c+= 1
    return c, v
x = input("Enter text: ")
c, v = count(x)
print("Consonants:", c)
print("Vowels:", v)

Enter text:  India

Consonants: 2
Vowels: 3

In [7]:
def list(n):
    a = []
    for i in n:
        if i % 5 == 0:
            a.append(i / 5)
        else:
            a.append(i)
    return a
n = [30, 42, 56, 70, 45, 35]
r = list(n)
print(r)

[6.0, 42, 56, 14.0, 9.0, 7.0]

In [8]:
def split(lst):
    even = []
    odd = []
    for i in range(len(lst)):
        if i % 2 == 0:
            even.append(lst[i])
        else:
            odd.append(lst[i])
    return even, odd

n = [23, 24, 45, 67, 99, 54, 20]
e, o = split(n)
print(e)
print(o)

[23, 45, 99, 20]
[24, 67, 54]