In [11]:
df = pd.read_csv("C:/Users/Ramesh/Downloads/olympic.csv", 
                            sep="\t", 
                            header=None, 
                            names=["Athlete","Age","Country","Year","Date","Sport","Gold","Silver","Bronze","Total"])
df.head()

,Athlete,Age,Country,Year,Date,Sport,Gold,Silver,Bronze,Total
0,Michael Phelps,23.0,United States,2008,08-24-08,Swimming,8,0,0,8
1,Michael Phelps,19.0,United States,2004,08-29-04,Swimming,6,0,2,8
2,Michael Phelps,27.0,United States,2012,08-12-12,Swimming,4,2,0,6
3,Natalie Coughlin,25.0,United States,2008,08-24-08,Swimming,1,2,3,6
4,Aleksey Nemov,24.0,Russia,2000,10-01-00,Gymnastics,2,1,3,6

## Total medals (Gold + Silver + Bronze) each athlete won

In [9]:
total_medals = df[['Athlete','Total']].sort_values('Total', ascending=False)
print(total_medals)

               Athlete  Total
1       Michael Phelps      8
0       Michael Phelps      8
4        Aleksey Nemov      6
3     Natalie Coughlin      6
2       Michael Phelps      6
...                ...    ...
8597         Wu Hui-Ju      1
8598  Hiroshi Yamamoto      1
8599      Yuan Shu-Chi      1
8600        Yun Mi-Jin      1
7540       Asjha Jones      1

[8618 rows x 2 columns]

## Athlete with the highest number of gold medals

In [10]:
top_gold = df[['Athlete','Gold']].sort_values('Gold', ascending=False).head(1)
print(top_gold)

          Athlete  Gold
0  Michael Phelps     8

## Country with the most total medals

In [12]:
country_total = df.groupby('Country')['Total_Medals'].sum().sort_values(ascending=False)
print(country_total.head())

Country
United States    1312
Russia            768
Germany           629
Australia         609
China             530
Name: Total_Medals, dtype: int64

## Total medal count per year

In [13]:
medals_per_year = df.groupby('Year')['Total_Medals'].sum()
print(medals_per_year)

Year
2000    2005
2002     478
2004    2004
2006     526
2008    2050
2010     520
2012    1946
Name: Total_Medals, dtype: int64

## Medals each country won in each sport

In [14]:
country_sport = df.groupby(['Country','Sport'])[['Gold','Silver','Bronze']].sum()
print(country_sport)

                           Gold  Silver  Bronze
Country     Sport
Afghanistan Taekwondo         0       0       2
Algeria     Athletics         2       1       2
            Boxing            0       0       1
            Judo              0       1       1
Argentina   Basketball       12       0      12
...                         ...     ...     ...
Venezuela   Taekwondo         0       0       2
            Weightlifting     0       0       1
Vietnam     Taekwondo         0       1       0
            Weightlifting     0       1       0
Zimbabwe    Swimming          2       4       1

[837 rows x 3 columns]

## Sport contributing the most medals

In [15]:
sport_total = df.groupby('Sport')['Total_Medals'].sum().sort_values(ascending=False)
print(sport_total)

Sport
Swimming                     765
Athletics                    753
Rowing                       576
Football                     407
Hockey                       388
Ice Hockey                   384
Handball                     351
Canoeing                     333
Cycling                      306
Waterpolo                    306
Basketball                   287
Gymnastics                   282
Volleyball                   281
Fencing                      256
Wrestling                    245
Judo                         224
Baseball                     216
Sailing                      210
Shooting                     192
Boxing                       188
Equestrian                   182
Weightlifting                180
Cross Country Skiing         174
Diving                       144
Speed Skating                140
Biathlon                     138
Short-Track Speed Skating    138
Softball                     134
Synchronized Swimming        129
Taekwondo                    112
Archery                       96
Badminton                     96
Alpine Skiing                 90
Rhythmic Gymnastics           84
Table Tennis                  84
Curling                       82
Tennis                        78
Bobsleigh                     72
Ski Jumping                   54
Figure Skating                54
Nordic Combined               54
Beach Volleyball              48
Snowboarding                  48
Freestyle Skiing              42
Luge                          36
Modern Pentathlon             24
Triathlon                     24
Trampoline                    24
Skeleton                      18
Name: Total_Medals, dtype: int64

## Athletes consistent across multiple Olympics

In [16]:
ath_years = df.groupby('Athlete')['Year'].nunique().reset_index()
consistent = ath_years[ath_years['Year'] > 1]
print(consistent)

                 Athlete  Year
7          Aaron Peirsol     3
11          Abby Wambach     2
27           Adam Malysz     2
28           Adam Nelson     2
29             Adam Pine     2
...                  ...   ...
6911         Zou Shiming     3
6919  Zuzana Štefeceková     2
6925       Ákos Vereckei     2
6938         Éric Bédard     2
6954         Živko Gocic     2

[1377 rows x 2 columns]

## Total medals by each country (all years)

In [17]:
total_country = df.groupby('Country')['Total_Medals'].sum()
print(total_country)

Country
Afghanistan      2
Algeria          8
Argentina      141
Armenia         10
Australia      609
              ...
Uruguay          1
Uzbekistan      19
Venezuela        4
Vietnam          2
Zimbabwe         7
Name: Total_Medals, Length: 110, dtype: int64

## Percentage of gold, silver, bronze

In [18]:
totals = df[['Gold','Silver','Bronze']].sum()
percentages = (totals / totals.sum()) * 100
print(percentages)

Gold      32.983524
Silver    32.857593
Bronze    34.158883
dtype: float64

## Average age of medal winners

In [19]:
avg_age = df['Age'].mean()
print("Average age:", avg_age)

Average age: 26.405433646812956

## Relationship between age and medals

In [20]:
corr = df['Age'].corr(df['Total_Medals'])
print(corr)

-0.07235683052681774

## Year with highest number of gold medals

In [21]:
gold_year = df.groupby('Year')['Gold'].sum().sort_values(ascending=False).head(1)
print(gold_year)

Year
2008    671
Name: Gold, dtype: int64

## U.S. vs. other countries

In [22]:
country_compare = df.groupby('Country')['Total_Medals'].sum().sort_values(ascending=False)
print(country_compare.head(10))

Country
United States    1312
Russia            768
Germany           629
Australia         609
China             530
Canada            370
Italy             331
Great Britain     322
Netherlands       318
France            318
Name: Total_Medals, dtype: int64

## Athletes who won medals in multiple Olympic years

In [23]:
multi_year = df.groupby('Athlete')['Year'].nunique()
print(multi_year[multi_year > 1])

Athlete
Aaron Peirsol         3
Abby Wambach          2
Adam Malysz           2
Adam Nelson           2
Adam Pine             2
                     ..
Zou Shiming           3
Zuzana Štefeceková    2
Ákos Vereckei         2
Éric Bédard           2
Živko Gocic           2
Name: Year, Length: 1377, dtype: int64

## Total medals per sport

In [24]:
sport_medals = df.groupby('Sport')['Total_Medals'].sum()
print(sport_medals)

Sport
Alpine Skiing                 90
Archery                       96
Athletics                    753
Badminton                     96
Baseball                     216
Basketball                   287
Beach Volleyball              48
Biathlon                     138
Bobsleigh                     72
Boxing                       188
Canoeing                     333
Cross Country Skiing         174
Curling                       82
Cycling                      306
Diving                       144
Equestrian                   182
Fencing                      256
Figure Skating                54
Football                     407
Freestyle Skiing              42
Gymnastics                   282
Handball                     351
Hockey                       388
Ice Hockey                   384
Judo                         224
Luge                          36
Modern Pentathlon             24
Nordic Combined               54
Rhythmic Gymnastics           84
Rowing                       576
Sailing                      210
Shooting                     192
Short-Track Speed Skating    138
Skeleton                      18
Ski Jumping                   54
Snowboarding                  48
Softball                     134
Speed Skating                140
Swimming                     765
Synchronized Swimming        129
Table Tennis                  84
Taekwondo                    112
Tennis                        78
Trampoline                    24
Triathlon                     24
Volleyball                   281
Waterpolo                    306
Weightlifting                180
Wrestling                    245
Name: Total_Medals, dtype: int64

## Country dominating swimming

In [25]:
swim = df[df['Sport'].str.contains('Swim', case=False, na=False)]
swim_country = swim.groupby('Country')['Total_Medals'].sum().sort_values(ascending=False)
print(swim_country.head(5))

Country
United States    278
Australia        163
Japan             67
Russia            63
China             55
Name: Total_Medals, dtype: int64

## Athletes with same total medals as Michael Phelps

In [26]:
phelps_medals = df.loc[df['Athlete']=='Michael Phelps','Total_Medals'].iloc[0]
same_as_phelps = df[df['Total_Medals']==phelps_medals][['Athlete','Total_Medals']]
print(same_as_phelps)

          Athlete  Total_Medals
0  Michael Phelps             8
1  Michael Phelps             8

## Total medals each Olympic year

In [27]:
year_total = df.groupby('Year')['Total_Medals'].sum()
print(year_total)

Year
2000    2005
2002     478
2004    2004
2006     526
2008    2050
2010     520
2012    1946
Name: Total_Medals, dtype: int64

## Countries that improved in consecutive Olympics

In [28]:
country_year = df.groupby(['Country','Year'])['Total_Medals'].sum().reset_index()
country_year['Prev'] = country_year.groupby('Country')['Total_Medals'].shift(1)
improved = country_year[country_year['Total_Medals'] > country_year['Prev']]
print(improved)

           Country  Year  Total_Medals  Prev
6        Argentina  2004            49  20.0
7        Argentina  2008            51  49.0
10         Armenia  2008             6   1.0
14       Australia  2004           156   2.0
16       Australia  2008           149   2.0
..             ...   ...           ...   ...
386  United States  2008           317  52.0
388  United States  2012           254  97.0
391     Uzbekistan  2004             5   4.0
392     Uzbekistan  2008             6   5.0
400       Zimbabwe  2008             4   3.0

[138 rows x 4 columns]

## Average number of medals per athlete

In [29]:
avg_medals = df['Total_Medals'].mean()
print("Average medal
s per athlete:", avg_medals)

Average medals per athlete: 1.105708981202135

## Athletes who won at least one gold

In [30]:
gold_athletes = df[df['Gold'] > 0]['Athlete'].unique()
print(len(gold_athletes))

2466

## Sport with most diverse medal-winning countries

In [31]:
diverse = df.groupby('Sport')['Country'].nunique().sort_values(ascending=False)
print(diverse.head(5))

Sport
Athletics    68
Judo         43
Shooting     40
Boxing       39
Wrestling    38
Name: Country, dtype: int64

## Medal-to-athlete ratio per country

In [32]:
ath_per_country = df.groupby('Country')['Athlete'].nunique()
ratio = (country_total / ath_per_country).sort_values(ascending=False)
print(ratio)

Country
Zimbabwe                7.000000
Singapore               2.333333
Tunisia                 2.000000
Kuwait                  2.000000
Afghanistan             2.000000
                          ...
Togo                    1.000000
Uruguay                 1.000000
United Arab Emirates    1.000000
Venezuela               1.000000
Vietnam                 1.000000
Length: 110, dtype: float64

## Country with highest avg gold medals per year

In [33]:
avg_gold = df.groupby(['Country','Year'])['Gold'].sum().groupby('Country').mean().sort_values(ascending=False)
print(avg_gold.head(5))

Country
United States    78.857143
China            33.428571
Russia           33.428571
Germany          31.857143
Canada           24.000000
Name: Gold, dtype: float64

## Proportion of gold to total medals (per country)

In [34]:
prop_gold = (df.groupby('Country')['Gold'].sum() / df.groupby('Country')['Total_Medals'].sum()).sort_values(ascending=False)
print(prop_gold)

Country
Grenada                 1.0
Cameroon                1.0
United Arab Emirates    1.0
Uganda                  1.0
Mozambique              1.0
                       ...
Togo                    0.0
Tajikistan              0.0
Syria                   0.0
Uruguay                 0.0
Vietnam                 0.0
Length: 110, dtype: float64

## Number of athletes per country

In [35]:
athletes_country = df.groupby('Country')['Athlete'].nunique()
print(athletes_country)

Country
Afghanistan      1
Algeria          8
Argentina      103
Armenia         10
Australia      415
              ...
Uruguay          1
Uzbekistan      14
Venezuela        4
Vietnam          2
Zimbabwe         1
Name: Athlete, Length: 110, dtype: int64

## Top performers by total medals

In [36]:
top_athletes = df[['Athlete','Total_Medals']].sort_values('Total_Medals', ascending=False).head(10)
print(top_athletes)

             Athlete  Total_Medals
1     Michael Phelps             8
0     Michael Phelps             8
4      Aleksey Nemov             6
3   Natalie Coughlin             6
2     Michael Phelps             6
6     Missy Franklin             5
7        Ryan Lochte             5
8    Allison Schmitt             5
9   Natalie Coughlin             5
10        Ian Thorpe             5

## Country medals in a particular year (e.g., 2012)

In [16]:
medals_2012 = olympic_data[olympic_data['Year'] == 2012].groupby('Country')[['Gold','Silver','Bronze','Total']].sum()
print(medals_2012)

               Gold  Silver  Bronze  Total
Country
Afghanistan       0       0       1      1
Algeria           1       0       0      1
Argentina         1      17       3     21
Armenia           0       1       2      3
Australia        18      37      59    114
...             ...     ...     ...    ...
Uganda            1       0       0      1
Ukraine           9       5      12     26
United States   145      63      46    254
Uzbekistan        1       0       3      4
Venezuela         1       0       0      1

[85 rows x 4 columns]

# Country with greatest improvement in medal count

In [20]:
country_year = olympic_data.groupby(['Country','Year'])['Total'].sum().reset_index()
country_year['Delta'] = country_year.groupby('Country')['Total'].diff()
improvement = country_year[country_year['Delta'] == country_year.groupby('Country')['Delta'].transform('max')].sort_values('Delta', ascending=False)
print(improvement)

                   Country  Year  Total  Delta
386          United States  2008    317  265.0
74                   China  2008    184  171.0
14               Australia  2004    156  154.0
301                 Russia  2004    191  153.0
160          Great Britain  2012    126  125.0
..                     ...   ...    ...    ...
172                Hungary  2012     25   -2.0
69                   Chile  2008      1   -3.0
94                    Cuba  2004     62   -3.0
298                Romania  2012     16   -6.0
311  Serbia and Montenegro  2004     13  -12.0

[92 rows x 4 columns]

# Total medals won by female vs. male athletes

In [26]:
medals_gender = df.groupby('Gender')[['Gold','Silver','Bronze','Total']].sum()
print(medals_gender)

KeyError: 'Gender'