In [4]:
import pandas as pd
uber_data=pd.read_csv("Uber.csv")
uber_data.head()

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
0,1/1/2016 21:11,1/1/2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,1/2/2016 1:25,1/2/2016 1:37,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,1/2/2016 20:25,1/2/2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,1/5/2016 17:31,1/5/2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,1/6/2016 14:42,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit

<h3>3.Exploring Data(Shape,null values,.info(),.describle())</h3>

In [5]:
print(uber_data.shape)
print(uber_data.info())

(1156, 7)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1156 entries, 0 to 1155
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   START_DATE*  1156 non-null   object
 1   END_DATE*    1155 non-null   object
 2   CATEGORY*    1155 non-null   object
 3   START*       1155 non-null   object
 4   STOP*        1155 non-null   object
 5   MILES*       1156 non-null   float64
 6   PURPOSE*     653 non-null    object
dtypes: float64(1), object(6)
memory usage: 63.3+ KB
None

In [9]:
null_rows = uber_data[uber_data.isnull().any(axis=1)]
print(null_rows)

           START_DATE*         END_DATE* CATEGORY*            START*  \
1        1/2/2016 1:25     1/2/2016 1:37  Business       Fort Pierce
32      1/19/2016 9:09    1/19/2016 9:23  Business       Whitebridge
85      2/9/2016 10:54    2/9/2016 11:07  Personal       Whitebridge
86      2/9/2016 11:43    2/9/2016 11:50  Personal        Northwoods
87      2/9/2016 13:36    2/9/2016 13:52  Personal        Tanglewood
...                ...               ...       ...               ...
1066  12/19/2016 14:37  12/19/2016 14:50  Business  Unknown Location
1069  12/19/2016 19:05  12/19/2016 19:17  Business         Islamabad
1071   12/20/2016 8:49   12/20/2016 9:24  Business  Unknown Location
1143  12/29/2016 20:53  12/29/2016 21:42  Business           Kar?chi
1155            Totals               NaN       NaN               NaN

                    STOP*   MILES* PURPOSE*
1             Fort Pierce      5.0      NaN
32    Lake Wellingborough      7.2      NaN
85             Northwoods      5.3      NaN
86             Tanglewood      3.0      NaN
87                Preston      5.1      NaN
...                   ...      ...      ...
1066     Unknown Location      5.4      NaN
1069     Unknown Location      2.2      NaN
1071           Rawalpindi     12.0      NaN
1143     Unknown Location      6.4      NaN
1155                  NaN  12204.7      NaN

[503 rows x 7 columns]

In [11]:
null_rows=uber_data[uber_data['START_DATE*'].isnull()]
print(null_rows)

Empty DataFrame
Columns: [START_DATE*, END_DATE*, CATEGORY*, START*, STOP*, MILES*, PURPOSE*]
Index: []